@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan: #209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --lightblue: #cadbf8;
  --font: montserrat;
}

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-size: 1.125rem;
  line-height: 1.5;
  color: black;
  background-color: var(--catalina);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;

}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
  background-color: var(--catalina);
  color: var(--white)
}

nav {
  padding-top: 0;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);

}

nav ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}

header {
  text-align: center;
  border-bottom: 10px solid #ffd034;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}

h1 {
  color: var(--white);
  display: inline;

}


@media (min-width: 650px) {
  header {
    justify-content: center;

  }

  nav ul {
    justify-content: space-between;
  }

}

@media (min-width: 1000px) {
  header {
    justify-content: space-between;
  }

  nav ul {
    justify-content: space-between;
  }


}